.main{
    width:95%; 
}
.logo{
    width: 26em;
    height : 10em;
}
a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
.button {
    display: inline-flex;
    align-items: center;
    border-radius: 0.1em;
    font-size: 0.8em;
    margin: 0 1em;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border:2px solid #1976d2;
    border-radius:2em;
}

.button:hover {
  opacity: 0.8;
  font-weight: normal;
}


.navbar{
    height: 2em;
    padding: 1em 0.1em 1em 2em;
    background-color: #1976d2;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    display inline;
}

.icon{
    margin: 0 0.2em;
}

 

 