header {
    background: #7700FF;

    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                float: left;
                width: 10em;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: #8E2BFF;
                    }
                }
                ul {
                    position: absolute;
                    display: none;
                    li {
                        float: none;
                        width: 10em;
                        a {
                            padding: 1.5em;
                            font-size: .8em;
                            text-align: left;
                            display: block;
                            background-color: #7700FF;
                            &:hover {
                                background: #8E2BFF;
                            }
                        }
                    }
                }
            }
            li:hover ul {
                display: block;
            }
        }
    }
}

 