.textcss{
    width: 30em;
    height: 38em;
    opacity :0.8;
    color: black;
    padding: 1em;
}
button {
    background-color:#FFFFFF;
    text-align:cente;
    color:red;
    font-size:10px;
}
.divcss{
    // margin: 0.5em;
    }