<div class="main">
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a href="">
                <p><img src="assets/img/angular.png" alt="Angular"></p>
                <p>this is Angular</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a href="">
                <p><img src="assets/img/database.png" alt="Database"></p>
                <p>this is Database</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a href="">
                <p><img src="assets/img/nodejs.png" alt="Nodejs"></p>
                <p>this is Nodejs</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a href="./vba">
                <p><img src="assets/img/vba.png" alt="Vba"></p>
                <p>this is vba</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a href="">
                <p><img src="assets/img/csharp.jpg" alt="Csharp"></p>
                <p>this is Csharp</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a href="">
                <p><img src="assets/img/Java.png" alt="Java"></p>
                <p>this is Java</p>
            </a>
        </mat-grid-tile>
    </mat-grid-list>

</div>

