<div class="main">
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a [routerLink]="['./info','angular']">
                <p><img src="assets/img/angular.png" alt="Angular"></p>
                <p>Angular</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a [routerLink]="['./info','sql']">
                <p><img src="assets/img/database.png" alt="Database"></p>
                <p>SQL</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a [routerLink]="['./info','vba']" >
                <p><img src="assets/img/nodejs.png" alt="Nodejs"></p>
                <p>Node.js</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a [routerLink]="['./info','vba']">
                <p><img src="assets/img/vba.png" alt="Vba"></p>
                <p>VBA</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a href="">
                <p><img src="assets/img/csharp.jpg" alt="Csharp"></p>
                <p>C#</p>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a href="">
                <p><img src="assets/img/Java.png" alt="Java"></p>
                <p>Java</p>
            </a>
        </mat-grid-tile>
    </mat-grid-list>

</div>

