.main{
    margin: 1em 6em;
    width: 85%;
    mat-grid-list{
        mat-grid-tile{
            margin: 1em;
            a{
                width: 90%;
                height: 80%;
                border:2px solid #1976d2;
                border-radius:2em;
                text-decoration:none;
                text-align: center;
                img{
                    width: 5em;
                    height: 5em;

                };
            };
        };
    };
}
mat-grid-tile:hover {
    background-color: red;
}