/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.mat-dialog-container {
    padding: 0;
    position: fixed;
    top: 1em;
    left: 1em;
    background-image: url(assets/img/dialog.jpg);
    width: 39em!important;
    height:49em!important;
}